{% extends 'base.html'%}
{% load static %}
{% block title_block %} Focus Interior {% endblock %}
{% block body_block %}

<!-- Facts Start -->
<div class="container-xxl py-5">
    <div class="container pt-5">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                    <div class="fact-icon">
                        <img src="{% static 'assets/img/icons/icon-2.png' %}" alt="Icon">
                    </div>
                    <h3 class="mb-3">Design Approach</h3>
                    <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                    <div class="fact-icon">
                        <img src="{% static 'assets/img/icons/icon-3.png' %}" alt="Icon">
                    </div>
                    <h3 class="mb-3">Innovative Solutions</h3>
                    <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                    <div class="fact-icon">
                        <img src="{% static 'assets/img/icons/icon-4.png' %}" alt="Icon">
                    </div>
                    <h3 class="mb-3">Project Management</h3>
                    <p class="mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->


{% include '../focusInteriorApp/about.html' %}




{% include '../focusInteriorApp/service.html' %}


{% include '../focusInteriorApp/feature.html' %}




{% include '../focusInteriorApp/projects.html' %}


{% include '../focusInteriorApp/team_members.html' %}



{% include '../focusInteriorApp/appointment.html' %}

{% include '../focusInteriorApp/testimonial.html' %}


{%endblock%}